<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera web</title>
    <img src = "/images/mliebre.PNG" alt="logo">
</head>

<body>
    
    <header>

        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
         
    </header>   
    <ul>
        <li><a href="/">ofertas</a></li>
        <li><a href="/">tiendas oficiales</a></li>
        <li><a href="/">vender</a></li>
        <li><a href="/">ayuda</a></li>
     </ul>
    <ul>
     <li><a href="/">Creá tu cuenta</a></li>
    <li><a href="/">Ingresá</a></li>
    <li><a href="/">Mis Compras</a></li>
</ul>
    <main>
    <section>
        
        
            <header>
            <p><b>Basado en tu ultima visita</b></p>
        </header>

            <article>
            <img src = "/images/cafetera.jpg" width ='350' height='350' alt="logo">    
        <ul style="list-style: none">
            <li>$6.770</li>
            <li>40% OFF</li>
            <li><b>Cafetera Moulinex</b></li>
        </ul>
             </article>

        <article>
            <img src = "/images/macpro.jpg" width ='350' height='350' alt="logo">    
            <ul style="list-style: none">
            <li>230.000</li>
            <li>20% OFF</li>
            <li><b>MacBook Pro 2019</b></li>
            </ul>
        </article>
        
        <article>
            <img src = "/images/samsunggalaxy.webp" width ='350' height='350' alt="logo">    
            <ul style="list-style: none">
            <li>$70500</li>
            <li>10% OFF</li>
            <li><b>Samsung Galaxy 510</b></li>
            </ul>
        </article>
    
        <article>
            <img src = "/images/samsungtv.webp" width ='350' height='350' alt="logo">    
            <ul style="list-style: none">
            <li>$23200</li>
            <li>5% OFF</li>
            <li><b>SmarTv Samsung 43''</b></li>
            </ul>
        </article>

    </section>

</main>

<footer>

<section>
    
        <h3><b>Paga con tarjeta o en efectivo</b></h3>
        <p>Con Mercado Liebre Cash tenés cuotas sin interes con tarjeta o efectivo en puntos de pago, ¡Y siempre es seguro!</p>
    
    </section>
<section>
        <h3><b>Envío gratis desde $2500</b></h3>
        <p>Solo por estar regitrad@ en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
     
    </section>

    <section>
           <h3><b>Seguridad de principio a fin</b></h3>
           <p>¿No te gusta? ¡Devolvelo! En Mercado Liere no hay nada que no puedas hacer, porque estas siempre protegido</p>
        
       </section>

       <section>
           <h3><b>Envío gratis desde $2500</b></h3>
           <p>Solo por estar regitrad@ en Mercado Liebre tenés envios gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            <p>Copyright ©  1999-2020 MercadoLiebre S.R.L</p>
        
       </section>

    </footer>
</body>
</html>