* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {font-family: 'Roboto', sans-serif}

/* <------------------------------HEADER--------------------------------> */


.main-header {background-color: #EAC926;
    padding: 20px;
    color: rgb(207, 188, 188);
}

.logo {
    background-color: #EAC926;
    width: 200px;
    margin-right: 5px
}

.input-barra{
        display:flex;
        justify-content: center;
        width: 80%;
        text-align:left;
        margin: 20px;
        padding: 15px;
        border: 2px solid rgba(100, 100, 100, 0.1);
        background-color:white;
        border-radius: 8px;
        font-weight: bold;
        
}

.formulario{
    position:relative;
}

.lupa{
    color:rgba(0, 0, 0, 0.60);
    position:absolute;
    left: 185px;
    top:38px;
    font-size: 18px
}

.headerFila1 {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center
}

.frase-header {
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: grey
}

.hamburguer-button{
    background-color: #03264c;
    color: white;
    display: block;
    max-width: 40px;
    padding: 15 px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    margin: auto
}

.headerFila2 {
    display: none;
}

.formulario-login{
    background-color: rgba(100,100,100,0.40);
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px
    
}

.input{
    display:flex;
    justify-content: center;
    width: 80%;
    text-align:left;
    margin: 20px;
    padding: 15px;
    border: 2px solid rgba(100, 100, 100, 0.1);
    background-color:white;
    border-radius: 8px;
    font-weight: bold
}

.boton{
background-color: blue;
color:white;
margin: 20px;
padding: 15px;
border-radius: 8px;
font-weight: bold;
width: 80%;
max-height: 200px;
max-width: 1000px;
transition: background-color 2s
}

.boton:hover{
    background-color:#0022AA
}

footer {text-align: center;}
.icono {
    color: #1259c3;
    font-size: 32px;
    line-height: 10px; 
    margin: 30px;
    transition: color 2s
    }

    .copyright{
        margin-top:20px
    }
    
@media (min-width: 769px ){
    .headerFila1 {
        display:flex;
        flex-direction:row;
        justify-content: center;
    }

    .headerFila2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .headerFila2 ul {
        display:flex;
        list-style:none;
        margin: 0;
        padding: 0
    }

    .headerFila2 li{
        margin: 5px;
    }

    .headerFila2 a {
        text-decoration: none;
        color: #222222;
        display: inline-block;
        padding: 5px 0;
        font-size: 17px;
    }
    .hamburguer-button{
        display: none;
    }
@media (min-width: 1200px ) {
    footer{
        display:flex;
        flex-direction: row;
        justify-content: space-around
    }
}
.icono:hover{
    color: yellow
    }
}