* {
    box-sizing: border-box;
}

.logo {background-color: #EAC926 }
.barraBusqueda {background-color: white}
.icon{ background-color: white}
p{font-size: 12px;
    color:#666;}
body {font-family: 'Roboto', sans-serif}

.titulares {font-size: 24px}
.precios {font-size: 18px}
.descuentos {font-size: 16px}


.inicio {background-color: #EAC926;
    color:#666}
span{background-color: white}
.iconoheader {color:black}

.comprá {text-align: center}

.menu {
    color: white;
    background-color: #03264C;;
    text-align: center;
    font-size: 30px;
    background-size: 50px;
}

    footer {

        text-align: center;
    }
    .puntoblanco {color:white}
    .seccion { line-height: 15px}
    h3.seccion {line-height: 1px}
    .icono {
        color: #1259c3;
        font-size: 32px;
        line-height: 10px }

        .main {
            width: 90%;
            text-align: center;
            box-sizing: border-box;
        }
.articulo01{margin-bottom: 10px}
.camion{
    padding: 6px;
    border: 1px solid #39b54a;
    border-radius: 15px;
    color: #39b54a;
    }
.cajaArticulo01{
    border: 1px solid #ebebeb;
    padding: 15px;
}
.articulo02{margin-bottom: 10px}

.camion{
    padding: 6px;
    border: 1px solid #39b54a;
    border-radius: 15px;
    color: #39b54a;
    }
.cajaArticulo02{
    border: 1px solid #ebebeb;
    padding: 15px;
}

.articulo03{margin-bottom: 10px}

.camion{
    padding: 6px;
    border: 1px solid #39b54a;
    border-radius: 15px;
    color: #39b54a;
    }
.cajaArticulo03{
    border: 1px solid #ebebeb;
    padding: 15px;
}

.articulo04{margin-bottom: 10px}

.cajaArticulo04{
    border: 1px solid #ebebeb;
    padding: 15px;
}

.articulo05{margin-bottom: 10px}

.cajaArticulo05{
    border: 1px solid #ebebeb;
    padding: 15px;
}

.articulo06{margin-bottom: 10px}

.cajaArticulo06{
    border: 1px solid #ebebeb;
    padding: 15px;
}

.articulo07{margin-bottom: 10px}

.cajaArticulo07{
    border: 1px solid #ebebeb;
    padding: 15px;
}

.articulo08{margin-bottom: 10px}


.cajaArticulo08{
    border: 1px solid #ebebeb;
    padding: 15px;
}

.descripciones {display: none}
.site-y-navbar {display: none}


@media (min-width: 361px ){
    .descripciones {
        display: block
    }
    .site-y-navbar{display:block}
    .articulo01, .articulo02, .articulo03, .articulo04, .articulo05, .articulo06, .articulo07, .articulo08{
        box-shadow: 0px 0px 10px rgb(100, 100, 100)
}
    .menu{
        display:none
    }
}

@media (min-width: 769px ){
    .articulo01, .articulo02, .articulo03, .articulo04, .articulo05, .articulo06, .articulo07, .articulo08{
        box-shadow: 0px 0px 10px rgb(100, 100, 100)
}
.site-y-navbar{display:block}
    .descripciones {
        display: block}
        
        .menu{
            display:none
        }
    }




        